@import "../../../styles/variables";

.itemContainer {
  color: $myblack;
  box-shadow: 0px 14px 39px -11px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 30px;
  max-width: 320px;
  max-height: 490px;
  & svg {
    path {
      fill: $mygrey;
    }
  }
  & img {
    max-width: 90%;
    object-fit: fill;
  }
  & .priceBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @extend %Inter800;
    font-size: 16px;
    & button {
      color: white;
      background: $myohra;
      margin-left: 40px;
      padding: 10px 19px 10px 19px;
      letter-spacing: 0.15em;
      font-size: 10px;
      & svg {
        path {
          fill: white;
        }
      }
      &:hover{
        background: $mygold;
      }
    }
  }
  & span {
    margin: 10px 0;
    height: 70px;
    @extend %Inter500;
    font-size: 16px;
    line-height: 130%;
  }
}

.field {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: $mygrey;
  line-height: 150%;
  margin-bottom: 10px;
  & :first-child {
    @extend %Inter300;
  }
  & :last-child {
    @extend %Inter500;
    color: $myblack;
    margin: 0;
  }
}
