@import "../../../../styles/variables";

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px dotted $mygrey;
  justify-content: space-between;
  & .img {
    margin: 50px 0;
    & img {
      width: 300px;
      height: 200px;
      object-fit: contain;
    }
  }
  & .info {
    line-height: 150%;
    width: 450px;
    & .name {
      @extend %Inter700;
      font-size: 30px;
      margin: 10px 0;
    }
    & .description {
      @extend %Inter300;
      font-size: 12px;
    }
  }
  .calculate {
    display: flex;
    & button {
      width: 34px;
      height: 23px;
      background: linear-gradient(
        90deg,
        rgba(255, 198, 80, 0.3) 0%,
        rgba(254, 202, 110, 0.3) 97.25%
      );
      border-radius: 1000px;
      margin: 0 21px;
    }
  }
  & .trash {
    background: $myohra;
    width: 59px; 
    height: 59px;
    border-radius: 50%;
  }
  & .price {
    @extend %Inter700;
    font-size: 30px;
  }
}
.vl {
  border-left: 1px dashed #000000;
  opacity: 5%;
  height: 50px;
  margin: 0 40px;
}
