@import '../../styles/variables';

.main {
  display: flex;
  justify-content: space-between;
  .goodsContainer {
    margin-left: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

