@import "../../../../styles/variables";

.container {
  display: flex;
  align-items: center;
  .address {
    & span {
      font-size: 14px;
      @extend %Inter600;
    }
    & p {
      font-size: 12px;
      @extend %Inter300;
    }
  }
}

.svg {
  margin-right: 18px;
}
