@import "../../../../styles/variables";

.container {
  display: flex;
  align-items: center;
  margin-right: 60px;
  gap: 18px;
  .address {
    & span {
      font-size: 14px;
      @extend %Inter600;
    }
    & p {
      font-size: 12px;
      @extend %Inter300;
    }
  }
}

@media (max-width: 1380px) {
  .container {
    margin-right: 40px;
  }
}
