@import "../../../styles/variables";

.checkbox {
  margin: 10px 0;
  display: flex;
  align-items: center;
  & .box {
    display: flex;
    align-items: center;
  }
  & .name {
    font-size: 14px;
    @extend %Inter400;
    color: $mygrey;
    margin-left: 10px;
    line-height: 150%;
  }
  & .count {
    margin-left: 5px;
    font-size: 10px;
    @extend %Inter400;
    color: $mygrey;
    line-height: 150%;
  }
}
